# dependencies
node_modules/
**/node_modules/

# build
dist/
**/dist/
.next/
**/.next/

# local env
.env
.env.*
!.env.example

# logs
*.log

# OS/editor
.DS_Store
.vscode/
.idea/


# local database backups
backups/*.sql.gz
